.ingrediants{
    margin: 150px 0;
}
 .text{
    margin-top: 50px;
 }
 .text h2{
    font-size: 35px;
    
    font-family: "Manrope", serif;
    font-weight: 600;
 }
 .text p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 25px 0;
    color:rgb(72, 70, 70);
    font-family: "Manrope", serif;
 }
.check-list li::before {
    content: "✔️";  
    margin-right: 8px;
  
}