.scroll{
    background: url(./../Assets/back.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height:auto;
    text-align: center;
    overflow: hidden;
    margin: 50px 0;
    
}
.scroll .back{
    width: 100%;
    height: 300px;
    padding-top: 100px;
    color: #fff;
    justify-content: space-around;
}
.scroll .back h2{
    padding-top: 10px;
   margin-right: 50px;
}
.scroll .back button{
    margin-right: 100px;
}